body {
    margin: 0;
    font-size: 22px;
    overflow: hidden;
}

/* Dark theme */

.theme-dark {
    font-family: 'Comfortaa', cursive;
    text-shadow: 1px 1px 1px #222;
}

.theme-dark #container {
    width: 100%;
    background: rgba(45, 45, 45, 0.6);
    height: 58px;
}

.theme-dark #container * {
    display: inline-block;
    top: 16px;
}

.theme-dark #caption {
    color: #fff;
    font-weight: 500;
    width: 9%;
    position: absolute;
    left: 1%;
    text-decoration: underline;
}

.theme-dark #followers {
    margin-left: 16px;
    font-weight: 700;
    width: 88%;
    position: absolute;
    left: 10%;
    overflow: hidden;
}

.theme-dark #followers-container {
    white-space: nowrap;
}

.theme-dark .follower {
    margin-left: 16px;
    font-weight: 700;
}

/* Light theme */

.theme-light {
    font-family: 'Comfortaa', cursive;
    text-shadow: 1px 1px 1px #222;
}

.theme-light #container {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 58px;
}

.theme-light #container * {
    display: inline-block;
    top: 16px;
}

.theme-light #caption {
    color: #333;
    font-weight: 500;
    width: 9%;
    position: absolute;
    left: 1%;
    text-decoration: underline;
}

.theme-light #followers {
    margin-left: 16px;
    font-weight: 700;
    width: 88%;
    position: absolute;
    left: 10%;
    overflow: hidden;
}

.theme-light #followers-container {
    white-space: nowrap;
}

.theme-light .follower {
    margin-left: 16px;
    font-weight: 700;
}
